<div class="container ">
    <div class="requestNumber row">
        <span class="thumbsUp"><i class="fa fa-thumbs-up"></i></span>
        <p class="receiptNote">HSBA registration hs been completed.The request number is xxxxxx</p>
    </div>
    <div class="heading">
        <h5>Request Sammary </h5>
        <hr />
    </div>
    <div class="row">
        <div class="col-md-6">
            <mat-label>Depository Name</mat-label>
        </div>
        <div class="col-md-6">
            <mat-label>CSDL</mat-label>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <mat-label>DP ID</mat-label>
        </div>
        <div class="col-md-6">
            <mat-label>IN123456</mat-label>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <mat-label>ClientID/Beneficiary ID</mat-label>
        </div>
        <div class="col-md-6">
            <mat-label>123456</mat-label>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <mat-label>PAN</mat-label>
        </div>
        <div class="col-md-6">
            <mat-label>CTOPK234Q</mat-label>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <mat-label>Investor Name</mat-label>
        </div>
        <div class="col-md-6">
            <mat-label>Shruti Shetty</mat-label>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <mat-label>Email address</mat-label>
        </div>
        <div class="col-md-6">
            <mat-label>saikannake10@gmail.com</mat-label>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <mat-label>Mobile Number</mat-label>
        </div>
        <div class="col-md-6">
            <mat-label>7875980310</mat-label>
        </div>
    </div>
    <div class="example-button-row row">
        <div class="col-md-2 investButton">
            <button mat-raised-button color="accent" routerLink="" routerLinkActive="active">
                  INVEST NOW
            </button>
        </div>
        <div class="backtohomeButton">
            <button mat-raised-button color="accent" routerLink="" routerLinkActive="active">
          BACK TO HOME
    </button>
        </div>

    </div>
</div>
