  <h3>Initial Public Offering(IPOs)</h3>
<mat-tab-group>
  <mat-tab class="titlelabel" label=" AVAILABLE IPOs">
      <available-ipos></available-ipos>
  </mat-tab>
  <mat-tab class="titlelabel" label="APPLIED IPOs">
      <applied-ipos></applied-ipos>
  </mat-tab>
  <mat-tab class="titlelabel" label="SERVICES">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <ul class="heading">
            <li>Investor Details</li>
            <li  routerLink ="/enterdetails" routerLinkActive="active">HSBA Registration</li>
          </ul>
        </div>
      </div>
    </div>
   </mat-tab>
</mat-tab-group>

<!-- Bootstrap Navbar -->
<!-- <div class="card">
    <div class="card-body">
        <h1>Initial Public Offering (IPOs)</h1>
        <hr>
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link" routerLink="/ipodata">AVAILABLE IPOs</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">APPLIED IPOs</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">SERVICES</a>
            </li>
        </ul>
        <ipodata></ipodata>
    </div>
</div> -->
